# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        name: isort (python)

-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8
        additional_dependencies:
            - flake8-bugbear
            - flake8-builtins
            - flake8-coding
            - flake8-import-order
            - flake8-quotes
            - flake8-polyfill
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0  # Use the latest version
    hooks:
    -   id: prettier
        types_or: [javascript, jsx, ts, tsx, json, css, scss, markdown]
