db:
  image: postgres:14.2-alpine
  restart: unless-stopped
  ports:
    - "5432:5432"
  environment:
    POSTGRES_DB: owlreads_db
    POSTGRES_USER: owlreads_user
    POSTGRES_PASSWORD: owlreads_password
  volumes:
    - postgresql-data:/var/lib/postgresql/data

app:
  build: .
  restart: unless-stopped
  ports:
    - "8000:8000"
  depends_on:
    - db
  environment:
    OWLREAD_SETTING_DATABASE: '{"default":{"HOST":"db"}}'
    OWLREAD_SETTING_LOCAL_SETTINGS_PATH: 'local/settings.prod.py'

  volumes:
    postgresql-data:
      driver: local
